extends ./base.pug

block content
    section.sec01    

    section.sec02    
        h4 THIS WEBSITE WAS MADE MVC
        h4 WELCOME THIS PROJECT!

    section.sec03
        div.sec03__left
        div.sec03__right

    section.sec04   
        h4 THIS WEBSITE WAS MADE MVC
        h4 WELCOME THIS PROJECT! 

    section.sec05
        div.sec05__img
        div.sec05__img
        div.sec05__img

    section.sec06    
        h4 THIS WEBSITE WAS MADE MVC
        h4 WELCOME THIS PROJECT! 