extends ./base.pug

block content

    form(action="/b/write" method="get").btnWrapper
        button(type="submit").btnWrapper__w 작성하기

    each p in potato
        div.bb
            div.bb__id #{p.id}
            div.bb__title #{p.title}
            div.bb__author #{p.author}
            div.bb__createdAt #{p.createdAt}